
body{
    background-color:burlywood ;
}
h1{
    text-align: center;
    text-transform: uppercase;
}
.image-wrapper{
    display: flex;
    justify-content: center;
}
.image-wrapper img{
    border-radius: 100%;
}